extends ../layout

block content
  .pure-u-3-5
    .pure-menu.pure-menu-open
      .pure-menu-heading Organizations
      ul
        each org in orgs
          li
            a( href="/organizations/#{org.id}" )
              = org.name
              i.icon-fixed-width.icon-pencil
        li
          a.pure-button( href="/organizations/new" ) 
            i.icon-plus
            = " Add"
