.pure-u-1
  .pure-menu.pure-menu-open.pure-menu-horizontal
    ul
      if everyauth.loggedIn
        li
          a(href="/profile") Profile
        if session.organization
          li
            a(href="/organizations/#{session.organization._id}")= session.organization.name
        else
          li
            a(href="/organizations") Select An Organization
        li
          a(href="/logout") Logout
      else
        li
          a(href="/auth/github") github
